# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = proxie_pool.settings

[deploy:server01]
url = http://14.116.253.147:6800/
project = proxie_pool
